@clr:#ffffff;
@clr-y:#ffdd2d;
@clr-b: #2f2f2f;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic');

@font-face {
	font-family: 'GothamPro';
	src: url('../src/fonts/GothamPro.eot');
	src: local('Gotham Pro'), local('GothamPro'),
		url('../src/fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
		url('../src/fonts/GothamPro.woff') format('woff'),
		url('../src/fonts/GothamPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

input::-webkit-input-placeholder{color:@clr;}
input::-moz-placeholder{color:@clr;}
input::-moz-placeholder{color:@clr;}
input::-ms-input-placeholder{color:@clr;}

input,
a{
	&:active,
	&:focus{
		outline: none;
	}
}
// nav{
// 	font-family: 'Roboto', sans-serif;
// }

ul li{
    list-style: none;
}
a,
a:hover{
    text-decoration: none;
}

.btn{
	padding: 0;
	max-width: 170px;
	width: 100%;
	height: 45px;
	line-height: 45px;
	border-radius: 3px;
	background-color: @clr-y;
	display: inline-block;
	font-weight: 300;
	color: #2f2f2f;
	font-size: 10px;
	border:1px solid @clr-y;	
	transition: all 0.4s ease 0s;	

	&:hover{
		background-color: transparent;
		color: @clr-y;
		border:1px solid @clr-y;	

	}
}

html,
body{
	font-family: 'GothamPro';
	overflow-x: hidden;
    font-size: 10px;
    color: @clr;
    font-weight: 400;
    width: 100%;
}

section{
	width: 100%;
}

.header{
	background: url(../src/img/header.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(22, 22, 22, 0.5);
	background-blend-mode: overlay;
	min-height: 750px;
	padding-top: 35px;

    &__logo{
		color: @clr;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		display: block;

		span{
			display: block;
			font-weight: 300;
			letter-spacing: 0.2px;
			font-size: 10px;
		}
    }
    &__menu{
		margin: 0;
		// padding: 0;
		display: flex;
		justify-content: space-between;

		li{
			list-style: none;

			a{
				color: @clr;
				font-size: 10px;
				font-weight: 700;
				letter-spacing: 1px;
				transition: all 0.4s ease 0s;

				&:hover {
					border-bottom: 3px solid #fff;
				}
			}
		}
		@media (min-width: 992px) and (max-width: 1199px) {
			padding: 0;
		}
    }

    &__phone{
    	display: block;
		color: @clr;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 1.4px;
		text-align: right;
		&:hover {
			color: @clr;
		}
    }

    &__title{
		font-size: 24px;
		font-weight: 700;
    }

    &__title-pos{
    	margin-top: 130px;
    }

    &__descr{
		font-size: 22px;
		font-weight: 300;
    }   

}

.phone-css{
	line-height: 33px;
}
.menu-css{
	margin-top: 10px;
}
.header-case{
	padding: 35px 0;

	.header__logo,
	.header__menu li a,
	.header__phone{
		color: #000;
	}
	.header__menu li a{
		&:hover{
			border-bottom: 3px solid #000;
		}
	}
}

.red-line{
	display: inline-block;
	position: relative;

	strong{
		position: relative;
		z-index: 99;
	}

	span{
		position: absolute;
		right: 0;
		bottom: 0;
		margin-bottom: 6px;
		z-index: 1;
		display: inline-block;
		max-width: 210px;
		width: 100%;
		height: 11px;
		background-color: #ef3123;
	}
}

// форма

.form{
	margin-top: 40px;
	display: flex;

// группируем
	fieldset{
		position: relative;
		display: inline-block;
	}

	.group{
		margin-right: 20px;
	}

	label{
		position: absolute;
		top:0;
		left: 20px;
		transition: all 0.3s;
		opacity:1;
		padding:0 5px;
		transform: translateY(calc(30%));
		text-transform: uppercase;
		font-weight: 300;
		z-index: 1;
	}

	&__input{
		position: relative;
		width: 235px;
		height: 45px;
		line-height: 45px;
		border-radius: 4px;
		border: 1px solid @clr;
		background: transparent;
		color: @clr;
		font-size: 10px;
		font-weight: 300;
		letter-spacing: 1px;
		text-align: center;
		text-transform: uppercase;
		z-index: 99;

			&:placeholder-shown + label{
				opacity: 0;
				left: 30px;
				transform: translateY(100%);
			}
	}

	&__context{
		margin-top: 10px;
		font-size: 10px;
		font-weight: 300;
		a{
			color: @clr;
			text-decoration: underline;
			transition: all 0.4s ease 0s;

			&:hover{
				color:@clr-y;
			}
		}

	}

	@media (max-width: 449px) {
		display: block;
		text-align: center;
		.group{
			margin: 0;
		}
		.form__submit{
			margin: 15px auto;
			display: block;
		}
	}

}

.first{
	min-height: 700px;

	@media (max-width: 449px) {
		min-height: 400px;		
	}

	&__item{
		width: 100%;
		min-height: 425px;
		border-radius: 2px;
		background-color: @clr-y;
		margin-top: -50px;
		padding-top: 100px;
		text-align: center;
			@media (min-width: 450px) and (max-width: 767px){
				padding-top: 70px;
			}
			@media (max-width: 449px){
				padding-top: 50px;
				min-height: 300px;
			}
	}

	&__title{
		color: @clr-b;
		font-size: 24px;
		font-weight: 700;
		line-height: 30px;
		padding: 0 90px;
			@media (min-width: 450px) and (max-width: 767px){
				padding: 0 20px;
			}
			@media (max-width: 449px) {
				font-size: 17px;
				line-height: 20px;
				padding: 0 10px;
			}
	}

	&__img{
		position: absolute;
		margin-top: 55px;
		left: 0; 
		right: 0; 
		margin-left: auto; 
		margin-right: auto; 
		max-width: 824px;
		width: 100%;

		img{
			width: 100%;
		}
	}
}

.second{
	background: url(../src/img/footer.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(22, 22, 22, 0.5);
	background-blend-mode: overlay;
	padding: 200px 0;

	&__btn{
		margin-top: 40px;
		text-transform: uppercase;
	}

}

//------------------------//

.case{
	padding-bottom: 80px;

	&__hr{
		margin-top: 0;
		margin-bottom: 45px;
	}

	&__txt{
		margin-top: 30px;
	}

	&__img{
		position: relative;

		img{
			position: absolute;
			right: 0;
			z-index: 99;
		}
	}

	&__block{
		width: 100%;
		padding: 80px 60px;
		border-radius: 2px;
		background-color: #ffdd2d;
		margin: 60px 0;

			@media (max-width: 449px) {
				padding: 20px 10px;
			}
	}

	.header__descr{
		color: @clr-b;
		font-weight: 700;
		margin-bottom: 40px;
					@media (max-width: 449px) {
						font-size: 16px;
					}
	}

	&__item{
		display: flex;
		margin-bottom: 40px;
		&:last-child{
			margin-bottom: 0;
		}
	}

	&__ico{
		margin-right: 30px;
	}

	&__name,
	li{
		color: #000000;
		font-size: 16px;
		font-weight: 300;
		line-height: 20px;
	}

	.tranY{
		transform: translateY(calc(100%));

			@media (max-width: 449px) {
				transform: inherit;
			}		
	}

	&__bord-r{
		padding-left: 30px;
		border-left: 3px solid #fd4444;
	}

	&__main{
		li{
			margin-bottom: 25px;
		}
	}
}

.txt{
	color: #000000;
	font-size: 16px;
	font-weight: 300;
	line-height: 30px;
}

//------------------------//


.footer{
	padding: 20px 0;
	background-color: #222222;
	
	&__css{
		line-height: 20px;
	}

	&__menu{
		padding: 0;
		padding-right:40px;
	}

	&__phone{
			@media (min-width: 450px) and (max-width: 767px){
				text-align: center;
			}
			@media (max-width: 449px) {
				text-align: center;
			}
	}
}